
@using DietMap.Client.BindingModels

<div class="appointmentDetails">
    <div class="card card-5 appointmentDetailsCard">
        <MatCard class="demo-mat-card">
            <div class="demo-mat-card-content">
                <MatHeadline6 class="demo-mat-card-clean-margin">
                    Appointment Date - @appointment.Date.ToString("yyyy/MM/dd")
                </MatHeadline6>
                <MatSubtitle2 class="demo-mat-card-clean-margin">
                    Appointment No - @appointment.AppointmentNumber
                </MatSubtitle2>
            </div>
            <MatCardContent>
                <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                    <MatList>
                        <MatListItem>
                            Weight @appointment.Measurements.Weight
                        </MatListItem>
                        <MatListItem>
                            BMI @appointment.Measurements.BMI
                        </MatListItem>
                        <MatListItem>
                            Body Fat @appointment.Measurements.BodyFat
                        </MatListItem>
                        <MatListItem>
                            BMR @appointment.Measurements.BMR
                        </MatListItem>
                        <MatListItem>
                            Body Water @appointment.Measurements.BodyWater
                        </MatListItem>
                        <MatListItem>
                            Muscle Mass @appointment.Measurements.MuscleMass
                        </MatListItem>
                        <MatListItem>
                            Metabolic Age @appointment.Measurements.MetabolicAge
                        </MatListItem>
                        <MatListItem>
                            Visceral Fat @appointment.Measurements.VisceralFat
                        </MatListItem>
                        <MatListItem>
                            Bone Mass @appointment.Measurements.BoneMass
                        </MatListItem>
                        <MatListItem>
                            Muscle Quality @appointment.Measurements.MuscleQuality
                        </MatListItem>
                        <MatListItem>
                            Physique Rating @appointment.Measurements.PhysiqueRating
                        </MatListItem>
                    </MatList>
                </MatBody2>
            </MatCardContent>
        </MatCard>
    </div>
    <div class="appointmentNotes">
        <div class="headerApp">
            <h1>Notes</h1>
        </div>
        <MatList SingleSelection="true" class="appointmentNotes">
            @foreach(var note in appointment.Notes)
            {
                <MatListItem>
                        @note
                </MatListItem>
                <MatListDivider></MatListDivider>
            }
        </MatList>
    </div>
</div>

@code
{
    [Parameter]
    public Appointment appointment {get;set;}
    [Parameter]
    public Appointment previousAppointment {get;set;}    
}

<style>
    .card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.appointmentDetails{
    text-align: center;
    display: inline-block;
    width:100%;
    margin:20px;
}

.appointmentDetailsCard{
    margin-top:20px;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.appointmentNotes{
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}
.columnAppointments {
    float: left;
    width: 33.33%;
    padding: 10px;
    text-align: center;
}

.mainColumnAppointments {
    float: left;
    width: 80%;
    padding: 10px;
}

.rowAppointments{
    display: table;
    height:100%;
    width: 100%;
}
.rowAppointments:after {
    content: "";
    display: table;
    clear: both;
}
  
.headerApp{
    text-align: center;
    width: 100%;
}
.appointmentNotes{
    text-align: center;
    width: inherit;
    margin-left: 10%;
    margin-right: 10%;
}
</style>