@page "/clientlist"
@inject HttpClient Http
@using Newtonsoft.Json
@using DietMap.Client.BindingModels
@inject NavigationManager NavigationManager

<div class="headerApp">
    <h1>List of all the active clients</h1>
    <MatButton class="newClientBtn" Raised="true" OnClick="@(_=>GoToNewClient())">
        New Client
    </MatButton>
</div>

@if (Clients == null)
{
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" 
    xmlns="http://www.w3.org/2000/svg">
        <circle class="circle" fill="none" stroke-width="6" stroke-linecap="round" 
        cx="33" cy="33" r="30"></circle>
    </svg>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>First Visit</th>
                <th>Last Visit</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Clients.Clients)
            {
                <tr>
                    <td>@client.FullName</td>
                    <td>@client.CreatedAt.ToString("yyyy/MM/dd")</td>
                    @if(client.LastVisit.HasValue){
                        <td>@client.LastVisit.Value.ToString("yyyy/MM/dd")</td>
                    }else{
                        <td>No appointments</td>
                    }
                    <td>        
                        <MatButton Raised="true" OnClick="@(_=>GoToAppointments(client))">Approintments</MatButton>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ClientsList Clients;
    void GoToNewClient()
    {
        NavigationManager.NavigateTo($"newclient");
    }

    void GoToAppointments(Client client)
    {
        NavigationManager.NavigateTo($"appointmentsList/{client.Id}/{client.FullName}");
    }
 

    protected override async Task OnInitializedAsync()
    {
        var clientRequest = await Http.GetStringAsync("https://us-central1-dietmap-c519e.cloudfunctions.net/clientsApi/clients");
        Clients = JsonConvert.DeserializeObject<ClientsList>(clientRequest);
    }

}

<style>
.newClientBtn{
    margin-top: 40px;
    margin-bottom: 40px;
}
</style>