@page "/clientlist"
@inject HttpClient Http
@using Newtonsoft.Json
@using DietMap.Client.BindingModels
@inject NavigationManager NavigationManager

<div class="headerApp">
    <h1>List of all the active clients</h1>
    <MatButton class="newClientBtn" Raised="true" OnClick="@(_=>GoToNewClient())">
        New Client
    </MatButton>
</div>

@if (Clients == null)
{
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" 
    xmlns="http://www.w3.org/2000/svg">
        <circle class="circle" fill="none" stroke-width="6" stroke-linecap="round" 
        cx="33" cy="33" r="30"></circle>
    </svg>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>First Visit</th>
                <th>Last Visit</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Clients.Clients)
            {
                <tr>
                    <td>@client.FullName</td>
                    <td>@client.CreatedAt.ToString("yyyy/MM/dd")</td>
                    @if(client.LastVisit.HasValue){
                        <td>@client.LastVisit.Value.ToString("yyyy/MM/dd")</td>
                    }else{
                        <td>No appointments</td>
                    }
                    <td>        
                        <MatButton Raised="true" Disabled=!client.LastVisit.HasValue OnClick="@(_=>GoToAppointments(client))">Approintments</MatButton>
                    </td>
                    <td>        
                        <MatButton Raised="true" OnClick="@(_=> ConfirmClientDelete(client))">Delete</MatButton>
                    </td>
                </tr>
            }
        </tbody>
    </table>
<MatDialog @bind-IsOpen="@deleteDialogIsOpen">
<MatDialogTitle>Are you sure you want to delete @clientToDelete?.FullName ?</MatDialogTitle>
<MatDialogActions>
    <MatButton OnClick="@(e => { deleteDialogIsOpen = false; })">No</MatButton>
    <MatButton OnClick="@(_=> DeleteClient(clientToDelete))">Yes</MatButton>
</MatDialogActions>
</MatDialog>

}

@code {
    private bool deleteDialogIsOpen {get;set;} = false;
    private Client clientToDelete {get;set;}
    private ClientsList Clients;
    void GoToNewClient()
    {
        NavigationManager.NavigateTo($"newclient");
    }


    void ConfirmClientDelete(Client client)
    {
        clientToDelete = client;
        deleteDialogIsOpen = true;
    }

    async Task DeleteClient(Client client)
    {
        var clientRequest = await Http.PostAsync($"https://us-central1-dietmap-c519e.cloudfunctions.net/clientsApi/client/delete/{client.Id}",null);
        if (clientRequest.StatusCode == System.Net.HttpStatusCode.OK){
            Clients.Clients = Clients.Clients.Where(c => c.Id != client.Id).ToList();
            clientToDelete = null;
        }
        deleteDialogIsOpen = false;
    }

    void GoToAppointments(Client client)
    {
        NavigationManager.NavigateTo($"appointmentsList/{client.Id}/{client.FullName}");
    }
 

    protected override async Task OnInitializedAsync()
    {
        var clientRequest = await Http.GetStringAsync("https://us-central1-dietmap-c519e.cloudfunctions.net/clientsApi/clients");
        Clients = JsonConvert.DeserializeObject<ClientsList>(clientRequest);
        Clients.Clients = Clients.Clients.OrderBy(c => c.FullName).ToList();
    }

}

<style>
.newClientBtn{
    margin-top: 40px;
    margin-bottom: 40px;
}
</style>